/*this is an html feature that affects how the auto navigation behaves*/
html {
  scroll-snap-type: smooth;
  min-height: 100%;
}

/*universal code thats affecting the height and width as well as a universal font family*/
* {
  box-sizing: border-box;
  font-family: monospace;
  margin: 0px;
  padding: 0px;
}

/*made the header a flex parent, gives the header a color, applies padding to the contents, affects the text color of everything inside, is putting equal space between all content, alines everything across x axis*/

header {
  display: flex;
  /* padding: 10px; */
  text-align: center;
  background: #040404;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
/*portfolio header*/
header h2 {
  position: relative;
  left: 45px;
  top: 130px;
  font-size: 30px;

  /* position: absolute;
  top: 100px;
  right: 400px;
  font-size: 30px;
  font-family: monospace;  */
}
/*Jakob pfeifer header*/
header h1 {
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  font-family: monospace;
  /*first attempt at gradient text*/
  display: inline-block;
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(0, 181, 205));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*makes image inside header stretched*/
hero img {
  width: 100%;
  height: 200px;
}

/*makes nav bar exist due to background color, pushes text to the right of nav-bar,gives it a margin to space out the nav bar from header*/
/*cut two lines of code to stack nav bar onto header*/
nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 55px;
  right: 40px;

  /* background-color: #073b20; */
  /* margin: 5px; */
}
/*adds the text color of the nav bar options as well as padding spacing them out correctly, added font family for a more personal feel*/
nav button a {
  color: #fefdfd;
  padding: 0px 15px;
  text-align: center;
  font-family: monospace;
}

button {
  background-color: #000000;
  border-color: white;
  border-radius: 10px;
  padding: 3px;
}

.image {
  justify-content: right;
  padding: 20px;
  
}

section {
  display: flex;
  background-color: #000000ff;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  
}

aside {
  flex-basis: 20%;
  border-right: 4px solid black;
}
aside h2 {
  font-size: 30px;
  color: white;
}
article {
  flex-basis: 80%;
}

.about-me {
  width: 100%;
  height: 450px;
  position: absolute;
  /* top: 250px;
  right: 20px;
  left: 240px; */
  opacity: 20%;
  filter: blur(2px);
  padding-right: 40px;
  transition: 3s;
}

article p {
  font-size: 22px;
  padding: 20%;
  background-color: rgb(0, 0, 0);
  color: #fffafa;
  /* text-shadow: #000000 3px 2px; */
  float: inline-end;
}
.article-img {
  padding: 40px;
  
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
 
}

li:first-child {
  grid-column: span 3;

}

li img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
}
/* h3 {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(300px, 1fr));
  gap: 20px;
} */

/* .image {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 3px solid black;
} */

footer {
  padding: 20px;
  text-align: center;
  background: #090909;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-shadow: black 2px 2px;
  text-decoration: underline 2px;
}

@media screen and (max-width: 768px) {
  main,
  nav, .article-img {
    flex-direction: column;
  }
   nav button {
      position: relativ;
      right: 150px;
      top: 140px;
    }
    
  }


@media screen and (max-width: 768px) {
  ul {
    
    display: flex;
    max-width: 100%;
    max-height: 100%;
    gap: 30px;
    flex-wrap: wrap;
   
  }


 
  li:first-child {
    grid-column: span 1;
  }
}

